{% extends '::base.html.twig' %}

{% block title 'Greetings Page' %}

{% block body %}
    {# just a comment #}
    <ul>
        {% for i in 1..10 %}
            <li>Hello World for <strong>{{name | upper}}</strong> # {{i}}</li>
        {% endfor %}
    </ul>

    <h2>    
        Event Details
    </h2>
    {{event.name}}<br />
    {{event.location}}<br />
    {{event.time | date('Y-m-d')}}<br />
    {{event.details }}<br />


{% endblock %}

